alias c:='cd /mnt/c/users/iamsh'
alias g:='cd /mnt/g/shyam'
alias desktop='cd /mnt/c/users/iamsh/desktop'
alias path='cd ~/.local/bin'
alias ZZ='exit'
alias ZQ='exit'
alias pls='sudo $(fc -ln -1)'
alias please='sudo $(fc -ln -1)'
alias v=nvim
# alias vim='vim -u ~/.config/vim/.vimrc'
alias vim=nvim
alias nf="neofetch | lolcat"
alias cmatrix="cmatrix -bs -C blue"
alias .date='date +"%d %b, %Y | %I:%M %p"'
alias grep="grep -in --color=auto"
alias find='find -iname'
alias .history='nvim ~/.cache/zsh/history'
alias g=git
alias p='sudo pacman'
alias yay=paru
alias sv='sudoedit'

alias cd..='cd ../'
alias ..='cd ../'
alias .2='cd ../../'
alias ...='cd ../../../'
alias .3='cd ../../../'
alias ....='cd ../../../../'
alias .4='cd ../../../../'
alias .....='cd ../../../../../'
alias .5='cd ../../../../../'

alias mkdir='mkdir -p'

# alias ls='nnn -de'
alias f=fzf

alias exa='exa -1Fb --color=always --icons --group-directories-first --no-permissions --no-user'
alias ls='exa -1Fb --color=always --icons --group-directories-first --no-permissions --no-user'
alias l='exa -1Fb --color=always --icons --group-directories-first --no-permissions --no-user'
alias ll='exa -1Falb --color=always --icons --group-directories-first --no-permissions --no-user'
alias la='exa -1Fab --color=always --icons --group-directories-first --no-permissions --no-user'
# alias l.='exa -1Fa | egrep -in "^\."'
alias l.='\ls -Ap | egrep -in "^\."'

alias ping='ping -c 5'

alias zshrc='nvim ~/.config/zsh/.zshrc'
alias .aliases='nvim ~/.config/zsh/.aliases'
alias zsh-aliases='nvim ~/.config/zsh/.aliases'
alias zsh-variables='nvim ~/.config/zsh/.variables'
alias zsh-plugins='nvim ~/.config/zsh/.plugins'
alias zsh-prompt='nvim ~/.config/zsh/.prompt'
alias zsh-functions='nvim ~/.config/zsh/.functions'
alias zsh-exports='nvim ~/.config/zsh/.exports'
alias firefox-css='cd /mnt/c/Users/iamsh/AppData/Roaming/Mozilla/Firefox/Profiles/j9x9tbvr.default-release/chrome'
alias wt-settings='nvim /mnt/c/Users/iamsh/AppData/Local/Packages/Microsoft.WindowsTerminalPreview_8wekyb3d8bbwe/LocalState/settings.json'
alias alacritty-settings='nvim /mnt/c/Users/iamsh/AppData/Roaming/alacritty/alacritty.yml'
alias vimrc='nvim ~/.config/nvim/init.vim'
alias vim-plugins='nvim ~/.config/nvim/plugins.vim'
alias vim-plugins-settings='nvim ~/.config/nvim/plugins-settings.vim'
alias vim-plugins-settings-lua='nvim ~/.config/nvim/lua/plugins-settings.lua'
alias vim-keymaps='nvim ~/.config/nvim/keymaps.vim'

alias bash='bash --rcfile ~/.config/bash/.bashrc'
# alias vim='vim -u <location>'

alias tmux-settings='nvim ~/.config/tmux/tmux.conf'

alias cmd=cmd.exe
alias powershell=powershell.exe
alias pwsh=powershell.exe
alias explorer=explorer.exe
alias e=explorer.exe
alias ee='explorer.exe $(wslpath -w $(pwd))'
alias py=python.exe
alias python=python.exe
alias pip=pip.exe
# alias pip=pip3
alias audacity=audacity.exe
alias mechvibes=mechvibes.exe
alias subl=subl.exe
alias vlc=vlc.exe
alias tclock=clock64.exe
alias taskbarx=taskbarx.exe
alias taskbarx_settings='/mnt/g/Shyam/Program Files/TaskbarX/TaskbarX Configurator.exe'
alias greenshot=greenshot.exe
# alias git=git.exe
alias wa=wa.exe
alias obs=obs64.exe
alias brave=brave.exe
alias firefox=firefox.exe
alias chrome=chrome.exe
alias y=y.exe
alias g=g.exe
alias cmder=cmder.exe
alias keypirinha=keypirinha.exe
alias ueli=ueli.exe
alias wox=wox.exe
alias 7z=7z.exe
alias notepads="/mnt/c/Users/iamsh/AppData/Local/Microsoft/WindowsApps/19282JackieLiu.Notepads-Beta_echhpq9pdbte8/notepads.exe"
# alias c=c.exe
alias calc=calc.exe

alias wp='wslpath -u'
alias wv='wslview'
alias win32yank='win32yank -i'

alias kill_vscode=kill_vscode.bat

alias ytdl="/usr/bin/python3 /usr/local/bin/youtube-dl"
alias yt-dl="/usr/bin/python3 /usr/local/bin/youtube-dl"
alias youtube-dl="/usr/bin/python3 /usr/local/bin/youtube-dl"
alias yt-dl-mp3="/usr/bin/python3 /usr/local/bin/youtube-dl --extract-audio --audio-format mp3 --audio-quality 0"
alias yt-dl-playlist="/usr/bin/python3 /usr/local/bin/youtube-dl -o \"%(playlist_index)s-%(title)s.%(ext)s\""

# tmux
alias tmux='tmux -f ~/.config/tmux/tmux.conf'
alias t=tmux
alias t-ls='tmux list-sessions'
alias tls='tmux list-sessions'
alias tmux-ls='tmux list-sessions'
alias tmux-ks='tmux kill-session'
