LS_COLORS='ow=01;36;40'
export LS_COLORS
export KEYTIMEOUT=1
EDITOR=nvim
export EDITOR
# PAGER=nvim
# export PAGER
# PAGER=batcat
# export PAGER
# PAGER=most
# export PAGER
# TERM=xterm-256color
# export TERM

export FZF_DEFAULT_OPTS=$FZF_DEFAULT_OPTS'
--color=dark
--color=fg:-1,bg:-1,hl:#c678dd,fg+:#ffffff,bg+:#4b5263,hl+:#d858fe
--color=info:#98c379,prompt:#61afef,pointer:#be5046,marker:#e5c07b,spinner:#61afef,header:#61afef
'

# export FZF_COMPLETION_TRIGGER=''
# bindkey '^T' fzf-completion
# bindkey '^I' $fzf_default_completion
