# Nothing here yet...
LS_COLORS='ow=01;36;40'
export LS_COLORS
export KEYTIMEOUT=1
EDITOR=nvim
export EDITOR
# PAGER=nvim
# export PAGER
# PAGER=batcat
# export PAGER
# PAGER=most
# export PAGER
# TERM=xterm-256color
# export TERM
